Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1718 710 261 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/host/digital_ic/RV64/test/decode_rename.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 236.099459
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 9
; marker line index
markerPos 31

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addSubGroup "instr_buffer"
activeDirFile "" "/home/host/digital_ic/RV64/test/decode_rename.fsdb"
addSignal -h 15 /tb_decode_rename/instr_buffer_u0/clk
addSignal -h 15 -holdScope rst
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope instr[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr[3][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr[2][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr[1][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr_buffer[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope rd_addr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wr_addr[7:0]
endSubGroup "instr_buffer"
addSubGroup "instr_decode"
addSignal -expanded -h 15 -UNSIGNED -HEX /tb_decode_rename/instr_decode_u0/instr[3:0]
addSignal -h 15 -holdScope instr[3][31:0]
addSignal -h 15 -holdScope instr[2][31:0]
addSignal -h 15 -holdScope instr[1][31:0]
addSignal -h 15 -holdScope instr[0][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope opcode[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope func3[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope func7[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Rd[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Rs1[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Rs2[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope imme[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr_prs1_v[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr_prs2_v[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr_prd_v[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope R_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope I_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope S_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope B_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope U_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope J_type[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope I_imme[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope U_imme[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope J_imme[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope B_imme[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope S_imme[3:0]
endSubGroup "instr_decode"
addGroup "G3"
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

