Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1718 710 227 192

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/host/digital_ic/RV64/test.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 11110.000000
cursor 10870.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 6

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


aliasmapname divider.counter

aliasmapname divider.current_instr_type
nalias DIV		10'b0110011100		NULL
nalias DIVW		10'b0111011100		NULL
nalias DIVU		10'b0110011101		NULL
nalias DIVUW		10'b0111011101		NULL
nalias REM		10'b0110011110		NULL
nalias REMW		10'b0111011110		NULL
nalias REMU		10'b0110011111		NULL
nalias REMUW		10'b0111011111		NULL

addGroup "G1"
activeDirFile "" "/home/host/digital_ic/RV64/test.fsdb"
addSignal -h 15 /tb_div/divider_uo/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope div_ready
addSignal -h 15 -holdScope finish
addSignal -h 15 -holdScope div_finish
aliasname divider.counter
addSignal -h 15 -UNSIGNED -HEX -holdScope counter[6:0]
addSignal -h 15 -holdScope busy_o
addSignal -h 15 -holdScope inst_op_f3[9:0]
aliasname divider.current_instr_type
addSignal -h 15 -UNSIGNED -HEX -holdScope current_instr_type[9:0]
aliasname divider.current_instr_type
addSignal -h 15 -UNSIGNED -HEX -holdScope next_instr_type[9:0]
aliasname divider.counter
addSignal -h 15 -UNSIGNED -HEX -holdScope counter[6:0]
addSignal -h 15 -holdScope dividend[63:0]
addSignal -h 15 -holdScope divisor[63:0]
addSignal -h 15 -holdScope sign_inst
addSignal -h 15 -holdScope sign
addSignal -h 15 -holdScope sign_y
addSignal -h 15 -holdScope dividend_t[63:0]
addSignal -h 15 -holdScope divider_t[63:0]
aliasname divider.counter
addSignal -h 15 -UNSIGNED -HEX -holdScope counter[6:0]
addSignal -h 15 -holdScope temp_a[127:0]
addSignal -h 15 -holdScope temp_b[127:0]
addSignal -h 15 -holdScope shang[63:0]
addSignal -h 15 -holdScope yushu[63:0]
addSignal -h 15 -holdScope div_rem_data[63:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

